<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
    <%= render partial: 'uber_trips_table' %>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <%= render partial: 'monthly_totals_table' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <%= render partial: 'bus_trips_table'%>
    </div>
  </div>
</div>
