<h1>Bus Estimates</h1>
<table class="table table-hover" id='bus-trips'>
  <thead>
    <tr>
      <td>Ride Type</td>
      <td>Estimate Cost</td>
      <td>Departure Time</td>
      <td>Estimated Arrival Time</td>
      <td>Travel Time</td>
      <td>Travel Distance</td>
    </tr>
  </thead>
  <tbody>
  <% if @google_estimate %>
    <tr id='bus-estimate-id'>
      <td id="g-ride-type">RTD Bus</td>
      <td id="g-ride-cost">5.20</td>
      <td id="g-ride-departure"><%= @google_estimate.departure_time %></td>
      <td id="g-ride-arrival"><%= @google_estimate.arrival_time %></td>
      <td id="g-ride-duration"><%= @google_estimate.duration %></td>
      <td id="g-ride-distance"><%= @google_estimate.distance %></td>
      <td><button id='save-google-trip' class='btn btn-primary btn-sm'>Take trip / Save trip</button></td>
    </tr>
  </tbody>
  <% end %>
</table>
