<div class="container text-center">
  <h2>Enter info to get ride estimates from Uber and Mass Transit options</h2>
  <h5>(This app only gets local transit rides, please only enter trip destiantions the RTd system can complete)</h5>
</div>
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-sm-12 col-md-12 col-lg-12" id='ride-info-input'>
      <div class="row">
        <label>Origin:</label>
        <input type="text" id='origin-input'>
        <label>Destination:</label>
        <input type="text" id='destination-input'>
        <button id='get-estimate-button' class='btn btn-primary'>Get Estimates</button>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <%= render partial: 'bus_estimates_table' %>
        </div>

        <div class="row">
          <%= render partial: 'uber_estimates_table' %>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4" id="bus-trip-directions">
        <%= render partial: 'bus_itinerary' %>
      </div>

    </div>
  </div>
</div>
