<body class="welcome">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Welcome to Bus-or-Uber</h1><br>
      <h2 class="text-center">Login to see what's faster or cheaper between an uber ride or mass transit</h2>
    </div>
  </div>
</body>
