/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body.welcome {
  //  background-image: image-url("static-london.jpg");
   background-image: image-url("nice-shot.jpg");
  //  background: url("http://a.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2014/09/3035870-poster-p-1-this-chaotic-rush-hour-intersection-is-a-masterpiece-of-video-editing.gif");
  // background: url("http://i.imgur.com/XtAo98V.gif");
  // background-image: url("http://49.media.tumblr.com/tumblr_ls7nhbfP1L1qjcjono1_500.gif");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }
